@using NLayer.Core.DTOs;
@model ProductDTO
@{
    ViewData["Title"] = "Add";
}


<div class="row">
    <h1>Add</h1>
    <div class="col-md-4">
        <form method="post" asp-controller="Product" asp-action="Add">
            <div asp-validation-summary="All"></div>
            <div class="form-group mb-2">
                <label for="name">Name</label>
                <input id="name" asp-for="Name" class="form-control" />
            </div>
            <div class="form-group mb-2">
                <label for="price">Price</label>
                <input id="price" asp-for=Price class="form-control" />
            </div>
            <div class="form-group mb-2">
                <label for="stock">Stock</label>
                <input id="stock" asp-for="Stock" class="form-control" />
            </div>
            <div class="form-group mb-2">
                <label id="category" for="name">Category</label>
                <input id="category" asp-for="CategoryId" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>